// Breakpoints
$mobileOnly: mobileonly;
$phablet: phablet;
$phabletOnly: phabletOnly;
$tablet: tablet;
$tabletOnly: tabletOnly;
$laptop: laptop;
$laptopOnly: laptopOnly;
$desktop: desktop;
$desktopOnly: desktopOnly;
$largeDesktop: largeDesktop;
$xLargeDesktop: xLargeDesktop;

$bpMobile: 1;
$bpPhablet: 2;
$bpTablet: 3;
$bpDesktop: 4;
$bpLargeDesktop: 5;
$bpXLargeDesktop: 6;

$container-margin: 7.8%, 7.8%, 5%, 5%, 12.5%, 12.5%;